<mat-toolbar class="navbar-top">
  <nav>
    <div>
      <div class="logo">
        <a [routerLink]="['/']"> Ez Cook</a>
      </div>
      <ul>
        <li mat-button>หน้าแรก</li>
        <li mat-button>จัดอันดับ</li>
      </ul>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-user">
        <img src={{profile.photo_url}} alt="" srcset="">    
        {{profile.username}}
        <mat-icon>expand_more</mat-icon> 
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item> <mat-icon>account_circle</mat-icon> โปรไฟล์</button>
        <button mat-menu-item> <mat-icon>logout</mat-icon> ออกจากระบบ</button>
      </mat-menu>
    </div>
  </nav>
</mat-toolbar>
