<div class="loading" *ngIf="!foods">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <section class="categories" *ngIf="foods"></section>

  <section class="section-foods" *ngIf="foods">
    <div class="card" *ngFor="let food of foods">
      <div class="card-body">
        <img [src]="food.imageFood" [alt]="food.nameFood" />
        <button mat-icon-button class="save">
          <mat-icon>bookmark_border</mat-icon>
        </button>
      </div>
      <div class="card-footer">
        {{ food.nameFood }}
      </div>
    </div>
  </section>
</div>
