<div class="container">
  <form [formGroup]="formFood" (submit)="handleSubmitForm()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>ราคาสินค้า</mat-label>
        <input type="text" matInput placeholder="30" formControlName="price" />

        <mat-hint *ngIf="f_food.price.errors">

          <div *ngIf="f_food.price.errors.required">
              โปรดกรอกข้อมูล
            </div>
          <div *ngIf="f_food.price.errors.max">
            โปรดกรอกตัวเลขที่ไม่เกิน 100
          </div>
          <div *ngIf="f_food.price.errors.min">
            โปรดกรอกตัวเลขที่ตั้งแต่ 0 ถึง 100
          </div>

          <div *ngIf="f_food.price.errors.pattern">
              โปรดกรอกข้อมูลตัวเลข
        </div>

        </mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>ชื่อสินค้า</mat-label>
        <input
          type="text"
          matInput
          placeholder="รถของเล่น"
          formControlName="name"
        />
        <mat-hint *ngIf="submited && f_food.name.errors"> error name </mat-hint>
      </mat-form-field>
    </div>

    <!-- howtoCook -->
    <div formArrayName="howtoCook">

        <div *ngFor="let item of f_howtoCook.controls; let i=index">

            <span>{{i+1}}</span>
            <mat-form-field appearance="outline">
                <mat-label>วิธีทำ</mat-label>
                <input type="text" matInput placeholder="เปิดเตาแก๊ส" [formControlName]="i" />
            </mat-form-field>
            <span>
                <button type="button" mat-icon-button (click)="deleteHowtoCook(i)"><mat-icon>delete</mat-icon></button>
            </span>

        </div>

        <div *ngIf="f_howtoCook.controls.length < 5">
            <button type="button" mat-raised-button (click)="addhowtoCook()">เพิ่มวิธีการทำ</button>
        </div>

    </div>

    <button mat-raised-button type="submit">ส่ง</button>
  </form>
</div>
